
.label-form{
    font-weight:bold;
}

.titulo-panel{
    font-size: 18px;
    font-weight: bold;
}

.MensajePanelDiv {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 35%;
    z-index: 1000;
}

.fondo-gris{
    background-color: grey;
}

.validador-requerido {
    color: red;
}

.grid {
    width: 90%;
    background-color: white;
    border: solid 1px #333333;
}
    .grid th {
        color: white;
        background: #BCCDE0;
        border-color: black;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        height: 25px;
    }

    .grid td {
        border-color: black;
        color: #000000;
        font-size: 16px;
        text-align: center;
    }

    .grid tr:hover {
        background-color: #F5F5F5;
    }

.barra-lateral {
    background-color: #AEB6BF;
    padding-top: 15px;
}

.footerlinks {
    color:white;
    text-decoration: none !important;
}

    .footerlinks:hover{
        color:yellow;
    }

#footer1 {
    background-color:dimgrey;
}

#footer1 {
    background-color:grey;
}